# Rust
/target
/Cargo.lock

# Node / Frontend
node_modules/
dist/
*.log

# Environment & Data
.env
/data/*
!/data/.gitkeep
/bin/*
!/bin/.gitkeep
/isolated_vs_*

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS X
.LSOverride
Icon
.Trashes

pull_request/

# 排除参考项目
rikkahub-repo/
tmp_manager/
